<div class="row">
    <div class="column">
        <h2>How to use</h2>
        <ol>
            <li>Login</li>
            <li>Create an image link as a mail tracker</li>
            <li>Add image to your mail content</li>
        </ol>
    </div>
    <div class="column">
        <h2>Login</h2>
        <a href="/auth/github"><button class="button-black button-outline">
                Login with Github
            </button></a>
    </div>
</div>